<div *ngIf="isAdmin()">
  <div *ngIf="!openFilter">
    <br>
    <app-task-creation [animalsOfEmployee]="allAnimals"
                       [enclosuresOfEmployee]="allEnclosures" (reloadTasks)="loadFilteredTasks()"></app-task-creation>
    <button type="button" (click)="toggleFilter()" class="btn btn-success my-1 float-right">Filter List</button>
  </div>
  <div *ngIf="openFilter">
    <div>
      <br>
      <app-task-creation [animalsOfEmployee]="allAnimals"
                         [enclosuresOfEmployee]="allEnclosures" (reloadTasks)="loadFilteredTasks()"></app-task-creation>
      <br>
      <br>
      <div class="row">
        <div class="form-group col-md-4 pr-1 col-sm-6 col-lg-3 col-xs-12">
          <label>Title</label>
          <input type="text" [(ngModel)]="filterTask.title" name="title" class="form-control" id="inputTitle"
                 placeholder="Enter title">
        </div>

        <div class="form-group pr-1 col-md-4 col-sm-6 col-lg-3 col-xs-12">
          <label>Starts After</label>
          <input type="datetime-local" [(ngModel)]="filterTask.startTime" name="startTime" class="form-control"
                 id="inputStartTime" placeholder="Enter Start-Time">
        </div>

        <div class="form-group pr-1 col-md-4 col-sm-6 col-lg-3 col-xs-12">
          <label>Ends Before</label>
          <input type="datetime-local" [(ngModel)]="filterTask.endTime" name="endTime" class="form-control"
                 id="inputEndTime" placeholder="Enter End-Time">
        </div>


        <div class="form-group pr-1 col-md-4 col-sm-6 col-lg-3 col-xs-12">
          <label>Username</label>
          <select class="form-control" [(ngModel)]="filterTask.assignedEmployeeUsername" name="employeeSelection">
            <option *ngFor="let emp of employeeList" [ngValue]="emp.username">
              {{emp.username}}
            </option>
            <option [ngValue]="null">All</option>
          </select>
        </div>

        <div class="form-group col-sm-6 col-md-4 col-lg-3 col-xs-12">
          <label>Status</label>
          <select class="form-control" [(ngModel)]="filterTask.status" name="statusType">
            <option [ngValue]="'ASSIGNED'">ASSIGNED</option>
            <option [ngValue]="'NOT_ASSIGNED'">NOT_ASSIGNED</option>
            <option [ngValue]="'DONE'">DONE</option>
            <option [ngValue]="null">All</option>
          </select>
        </div>

        <div class="form-group pr-1 col-md-4 col-sm-6 col-lg-3 col-xs-12">
          <label>Type</label>
          <select class="form-control" [(ngModel)]="employeeType" name="employeeType">
            <option *ngFor="let type of typeValues" [ngValue]="employeeTypes[type]">
              {{type}}
            </option>
            <option [ngValue]="null">All</option>
          </select>
        </div>

        <div class="form-group pr-1 col-md-4 col-sm-6 col-lg-3 col-xs-12">
          <label>Description</label>
          <input type="text" [(ngModel)]="filterTask.description" name="description" class="form-control" id="inputDescription"
                 placeholder="Enter description">
        </div>

      </div>
      <div class="row">
        <div class="pr-1 col-md-8 col-sm-6 col-lg-9 col-xl-9 col-6">
        </div>
        <div class="pr-1 col-md-4 col-sm-6 col-lg-3 col-xl-3 col-6">
          <div class="row">
            <div class="pr-1 col-md-2 col-sm-3 col-lg-2 col-xl-3 col-1">
            </div>
            <div class="pr-1 col-md-10 col-sm-9 col-lg-10 col-xl-9 col-10">
              <button type="button" (click)="loadFilteredTasks()" class="btn btn-success my-1 float-right">Search</button>
              <button type="button" (click)="toggleFilter()" class="btn btn-success my-1 float-left">Close Filter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container>
    <div class="row mb-4">
      <div class="col-lg-12">
        <app-task-list-common [currentUserType]="userType" (reloadTasks)="loadFilteredTasks()"
                              [tasks]="tasks"></app-task-list-common>
      </div>
    </div>
  </ng-container>
</div>
