<div class="row mt-5">
  <div class="col-12">
    <h5>Current Animals</h5>
  </div>
</div>

<div class="row" *ngIf="isError">
  <div class="col">
    <div class="alert alert-primary alert-dismissable fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      <p> {{alertMessage}}
      </p>
    </div>
  </div>
</div>

<div class="row justify-content-end m-sm-0">
  <div class="form-group col-lg-2 col-md-4 col-sm-12 m-1 px-0">
      <input type="text" [(ngModel)]="searchAnimal.name" name="name" class="form-control" id="searchName"
             aria-describedby="nameHelp" placeholder="Enter name">
  </div>
  <div class="form-group col-lg-2 col-md-4 col-sm-12 m-1 px-0">
    <input type="text" [(ngModel)]="searchAnimal.species" name="specie" class="form-control" id="searchSpecie"
           aria-describedby="speciesHelp" placeholder="Enter specie">
  </div>
  <div class="form-group col-lg-2 col-md-4 col-sm-12 m-1 px-0">
      <input type="text" [(ngModel)]="searchAnimal.description" name="description" class="form-control" id="searchDescription"
             aria-describedby="descriptionHelp" placeholder="Enter description">
  </div>
  <div class="form-group col-lg-2 col-md-4 col-sm-12 m-1 px-0" *ngIf="!isEnclosureView()">
    <select class="form-control" [(ngModel)]="searchAnimal.enclosure" name="enclosure" >
        <option *ngFor="let enclosure of allEnclosures" [value]="enclosure.id">
          {{enclosure.name}}
        </option>
        <option [ngValue]="null">All</option>
    </select>
  </div>


  <button type="button" (click)=getFilteredAnimals() class="btn btn-success m-1 ">Filter Animals</button>
</div>

<div class="animal-list-header mt-4">
  <table class="table table-striped table-hover">
    <thead>
    <tr class="d-flex">
      <th class="col" scope="col">Name</th>
      <th class="col" scope="col">Species</th>
      <th class="col" scope="col">Description</th>
      <th class="col" scope="col" *ngIf="isAdmin()&&employeePage"></th>
      <th class="col" scope="row" *ngIf="isAdmin()&&animalPage">
        <button (click)="changeDeleteState()" class="btn my-0 btn-secondary btn-sm">Options</button>
      </th>

    </tr>
    </thead>
    <tbody *ngIf="animals">

    <ng-container *ngFor="let animal of animals">
      <tr class="d-flex animal-list-item">
          <td (click)= "showInfo(animal)" class="col">{{animal.name}}</td>
          <td (click)= "showInfo(animal)" class="col">{{animal.species}}</td>
          <td (click)= "showInfo(animal)" class="col">{{animal.description}}</td>
          <td class="col" *ngIf="animalPage">
            <app-delete-warning
              *ngIf="enableDelete&&animalPage"
              [stringId]="animal.id.toString()"
              [deletionSubjectType]="'Animal'"
              [readableSubjectIdentifier]="animal.name"
              (deleteSubject)="deleteAnimalFn(animal)"
              (toggleClickPropagationEvent)="toggleClickPropagation()"
            ></app-delete-warning>
          </td>
          <td class="col" *ngIf="isAdmin()&&employeePage">
            <button *ngIf="isAdmin()&&employeePage" (click)="unassignAnimal.emit(animal)" class="btn-sm btn-outline-danger btn">remove</button>
          </td>
      </tr>
    </ng-container>

    </tbody>
  </table>
</div>
